App\Models\Category::create([
'name' =>'Personal',
'slug' =>'personal'
])
Lorem ipsum dolor, sit amet consectetur adipisicing elit.
Laborum voluptate debitis eius eos eum aspernatur, minima quod distinctio molestiae velit labore facere dolorum corrupti. 

Hic fugiat temporibus suscipit, iusto laboriosam a odit. 
Fuga assumenda suscipit, odio, perferendis ut esse labore tempora nam corporis exercitationem ipsa dicta. 

Architecto vel quos ullam, totam corrupti minima expedita sint nobis non quisquam laudantium quam qui doloribus assumenda sunt suscipit cum. 
Id velit quo sit expedita debitis cum nobis voluptas ab voluptate, quas harum quis facere illo maxime rem itaque doloribus. Quisquam odit ipsam, eligendi, quod cum sequi repellat et harum, error aut nesciunt a.