App\Models\Post::create([
'title' =>'judul 3',
'category_id'=>3,
'slug' =>'judul-ke-3',
'excrept'=>'lorem pasfnasdad tiga',
'body'=>'<p>Lorem, saddasds asdadsad adsdasd asdipsum dolor sit amet consectetur adipisicing elit. Quod inventore eveniet quas corporis assumenda possimus perspiciatis asperiores sunt facilis dignissimos tempora sed maiores ullam error, eos nemo soluta animi quo quis. Quo repellat beatae ut nostrum minima eaque amet, quis culpa? </p><p>Atque magni dolorum ducimus, eius esse illo sit quia?</p>'
])

